@{
   
}

<form action="~/home/search" method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron" style="background-color:white">
                <h1>Search Fight</h1>
                <input type="search" name="searchEngine"><br><br />
                <input type="submit" class="btn btn-primary btn-lg" value="Buscar">
            </div>
        </div>
    </div>
</form>
